/* Estilos Globais */
* {
    font-family: 'Calibri', sans-serif;
    --cor-plano-de-fundo: #f0f0f0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
    font-family: 'Calibri', sans-serif;
    color: #333;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}